@model List<SistemaFuncionariosMVC.model.Funcionario>
<h2>Funcionarios</h2>
<a asp-action="Criar" class="btn-primary">Novo Funcionario</a>

<table class="table mt-3">
    <tr>Nome
        <th>Cargo</th>
        <th>Salario Base</th>
        <th>Salario Final</th>
        <th>Acoes</th>
    </tr>
</table>